.footer {
    height: 45px;
    min-width: 1002px;
    background-color: #727272;
}

.footer-inside {
    width: 940px;
    margin: 0px auto;
    padding: 19px 36px 17px 35px;
}

.footer-left {
    float: left;
    color: rgb(231, 231, 231);
    font-size: 10px;
    font-weight: bold;
}

.footer-left a{
    text-decoration: none;
    color: #d4d4d4;
}

.footer-right {
    float: right;
}