.footer {
    height: 3rem;
    min-width: 65rem;
    margin-top: 3rem;
    background-color: #727272;
}

.footer-inside {
    width: 58rem;
    margin: 0px auto;
    padding: 16px 36px 20px 35px;
}

.footer-left {
    float: left;
    color: rgb(231, 231, 231);
    font-size: 13pt;
    font-weight: bold;
}

.footer-left a{
    text-decoration: none;
    color: #d4d4d4;
}

.footer-right {
    float: right;
}

.footer-inside img{
    height: 16px;
    width: auto;
}