/* header */

.nav-bar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 65rem;
    margin-bottom: 1.375rem;
}

/* upper-header */

.nav-top {
    height: 6rem;
    width: 100%;
    padding: 2.5rem 0;
    background-color: #7dd9e8;
}

.nav-bar-top-inside {
    width: 58rem;
    margin: 0px auto;
}

.nav-top-left {
    width: 58rem;
    margin: 0px auto;
    float: left;
}

#logo {
    margin-right: 24px;
    float: left;
}

#logo img {
    height: 110px;
    width: auto;
}

/* search */

.search-icon {
    display: block;
    margin-left: 16rem;
    float: left;
    padding: 25px 0px;
}

.search-icon img {
    height: 3rem;
    width: auto;
}

.search {
    display: none;
}

/* profile */

.triple-menu-icon {
    margin-top: 25px;
    float: right;
}

.triple-menu-icon img {
    height: 3rem;
}

.nav-top-right {
    display: none;
}

/* .nav-top-right-link a{
    font-size: 9pt;
    color: black;
    padding: 5px 0px;
    text-decoration: none;
} */

/* lower-header */


.nav-bottom {
    height: 5rem;
    width: 100%;
    background-color: #f5f5f5;
    color: #3c3c3c;
}

.nav-bottom-inside {
    width: 60rem;
    margin: 0px auto;
    overflow: auto;
}

/* left */

.hamburger-icon {
    margin: 0px auto;
    float: left;
    padding: 24px;
}

.hamburger-icon img {
    height: 2rem;
    width: auto;
}

.nav-bottom-left {
    display: none;
}

/* right */

.nav-bottom-right {
    float: right;
    font-size: 25pt;
    text-align: right;
}

.nav-bottom-friend-requests {
    color: #adadad;
}

.nav-bottom-left ul li, .nav-bottom-friend-requests, .nav-bottom-invite {
    float: left;
    cursor: pointer;
    margin: 24px 0px 16px 40px;
} 

.nav-bottom-invite img, .nav-bottom-friend-requests img {
    height: 2rem;
    width: auto;
}

/* main-content */

/* left */

.main-content {
    width: 64rem;
    margin: 0px auto;
    overflow: auto;
}

/* header */

.recent-search-header.supreme {
    display: block;
    height: 4rem;
    width: 60rem;
    margin: 16px 32px;
    background-color: #2fc1da;
    color:white;
    padding: 12px 12px;
    text-align: center;
    font-size: 34pt;
    /* float: right; */
}

/* content */

.recent-search-top  {
    display: none;
}

.recent-search-bottom {
    display: none;
}

/* center */

.entries {
    float: left;
    margin: 30px 8px 48px 25px;
}

/* header */

.entries-header {
    font-size: 60pt;
    padding:5px;
    margin-bottom: 20px;
}

/* mid-section */

.entries-section {
    background-color: #f5f5f5;
    height:7.3rem;
    width: 30.5rem;
    padding-top: 14px;
    text-align: center;
    font-size: 28pt;
}

.entries-section.left {
    float: left;
    border-radius:10px 0px 0px 0px ;
    margin-right: 14px;
}

.entries-section.right {
    border-radius:0px 10px 0px 0px ;
    float: left;
}

.entries-segment {
    background-color: #dddddd;
    border-radius: 10px 10px 0px 0px;
    float:left;
    height: 3.2rem;
    width: 14.3rem;
    margin-top: 13px;
    padding-top: 10px;
    font-size: 24pt;
}

.entries-segment:hover{
    background-color: #2fc1da;
    color: white;
    cursor: pointer;
}

.entries-segment.left {
    margin-left: 10px;
    margin-right: 5px;
}

.entries-segment.right {
    margin-left: 5px;
    margin-right: 10px;
}

/* entry-list */

hr {
    width: 61.9rem;
    border: none;
}

.blue-line {
    background-color: #2fc1da;
    height: 8px;
}

.gray-line {
    background-color: #d8d8d8;
    height: 4px;
}

.entry-list-item {
    height: 200px;
    padding: 40px 0px; 
    line-height: 45px;
}

#profile-picture {
    float: left;
    height: 200px;
    width: auto;
}

.entry-info{
    float: left;
    width: 46rem;
    padding-left: 40px;
    padding-top: 15px;
}

.entry-title {
    font-size: 28pt;
    font-weight: bold;
    cursor: pointer;
}

.entry-bio {
    font-size: 24pt;
    color: #606060;
}

.entry-info-names {
    color: #4faec0;
    cursor: pointer;
}

.subscribed {
    color: #709521;
}

.new{
    color: #4faec0;
    font-size: 15pt;
    font-weight: bold;
}

.alert {
    color: #d53f1c;
    font-size: 24pt;
    font-weight: bold;
}

/* right */

.tutorials {
    width: 64rem;
    margin: 0px auto;
    overflow: auto;
}

/* header */

.tutorials-header {
    display: block;
    height: 4rem;
    width: 60rem;
    margin-left: 32px;
    background-color: #2fc1da;
    color:white;
    padding: 12px 12px;
    text-align: center;
    font-size: 34pt;
}

/* content */

.tutorials-list {
    display: none;
}

/* footer */

.footer {
    height: 22rem;
    min-width: 65rem;
    background-color: #727272;
}

.footer-inside {
    width: 58rem;
    margin: 0px auto;
    padding: 16px 36px 20px 35px;
}

.footer-left li{
    list-style: none;
    padding: 10px 0 10px 60px;
    font-size: 20pt;
    text-align: center;
}


.footer-left a{
    text-decoration: none;
    color: #d4d4d4;
}

.footer-right {
    float: right;
}

.footer-left img{
    display: none;
}

/* copyright */

.copyright-info {
    color: #d4d4d4;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    padding: 24px;
}