.tutorials {
    width: 64rem;
    margin: 0px auto;
    overflow: auto;
}

.tutorials-header {
    display: block;
    height: 4rem;
    width: 60rem;
    margin-left: 32px;
    background-color: #2fc1da;
    color:white;
    padding: 12px 12px;
    text-align: center;
    font-size: 34pt;
}

.tutorials-list {
    display: none;
}

/* .tutorials-list:hover {
    background-color: white;
}  */